spring:
  jpa:
    properties:
      javax:
        persistence:
          validation:
            mode: none
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 100
  servlet:
    multipart:
      max-file-size: 10MB

---
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/photox4?useSSL=false&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true 
    username: root 
    password: shantanu
  jpa:
    hibernate:
      ddl-auto: update
hoaxify:  
  upload-path : ./upload-content